body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

img {
    height: 40%;
    width: 40%;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 370px);
    grid-template-rows: repeat(2, 400px);
    grid-gap: 20px 20px;
}

.product {
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

h4, .description {
    font-size: 16px;
}

.description {
    color: rgb(85, 84, 84);
}

.price {
    font-size: 26px;
    font-weight: bold;
}

.bio {
    width: 300px;
}

button {
    width: 150px;
    font-size: 15px;
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 216, 20);
    padding: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(247, 207, 5);
}